body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0a172b;
    color: white;
    text-shadow: 1px 1px black;
    transition: 0.9s;
}

#image {
    width: 50%;
    transition: 0.3s;
}

#image:hover {
    border-radius: 20px;
    box-shadow: 1px 0px 15px white;
}

#explanation {
    padding: 0 10%;
    line-height: 140%;
}

#random-btn {
    display: none;
    border-radius: 5px;
    border: none;
    background: white;
    font-size: 26px;
    margin: auto;
    margin-top: 3%;
}
#loading {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 25%;
    font-size: 20px;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
}

@media (orientation: portrait) {
    body {
        font-size: 10px;
    }

    #image {
        width: 90%;
    }

    #image:hover {
        border-radius: 15px;
        box-shadow: 1px 0px 10px white;
    }
}